:root {
	--main-color1: #F0F7F4; /* Background */
	--main-color2: black;   /* text */
	--highlight-color: #6212C2;
}

/* fonts */
.figtree-1 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: calc(1vw);
}

body {
    margin: 0;
    background-color: var(--main-color1);
    overflow-x: hidden;
}

h1 {
    margin-left: 0%;   
}

.grid {
    display: grid;
}
#grid {
    grid-template-rows: auto auto;
}

#gridlayout {
    grid-template-columns: 12em auto;
}
#gridcontent {
    grid-template-columns: auto;
}

.verticaltext {
    writing-mode: vertical-rl;
    font-size: 6em;
    letter-spacing: 0.05em;
    margin-top: 0.3em;
    line-height: 0;
    padding: 0%;
}




/* Scroll bar styling*/
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: var(--main-color1);
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--highlight-color);
}

.sketch {
	border: 3px solid black;
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#footer {
    margin-top: 10em;
}